.ui-state-error {
  background-color: #fcd5d4;
  border-color: #f69593;
  color: #813331;
}
.ui-state-highlight {
  background-color: #c6eafa;
  border-color: #70caf3;
  color: #155e7f;
}
.carousel {
  position: relative;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .carousel-clip {
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-wrap {
  font-size: 0;
  min-width: 100%;
}
.carousel .carousel-wrap .carousel-item {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
.carousel:hover .carousel-btn {
  display: block;
}
.carousel .carousel-btn {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  margin: auto;
  width: 3em;
  height: 3em;
  display: none;
  font-size: 16px;
  border-radius: 50%;
  color: #222;
}
.carousel .carousel-btn::before {
  font-family: flexkit-icons;
  font-size: 1.5em;
  line-height: 1;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 2em;
  text-align: center;
}
.carousel .carousel-btn.prev {
  left: 0;
}
.carousel .carousel-btn.prev::before {
  content: "\e0a9";
}
.carousel .carousel-btn.next {
  right: 0;
}
.carousel .carousel-btn.next::before {
  content: "\e0a7";
}
.carousel .carousel-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}
.carousel .index-fa .carousel-wrap .carousel-item {
  max-height: 225px;
  overflow: hidden;
}
.smoke-base .smokebg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
.smoke-base.smoke-visible .dialog {
  background: inherit;
  border: inherit;
  box-shadow: 0 0 0 transparent;
}
.smoke-base .dialog {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.smoke-base .dialog.primary .dialog-inner {
  color: #875f1a;
  border-color: #fdcb76;
  background-color: #feeac8;
}
.smoke-base .dialog.success .dialog-inner {
  color: #2a6a2c;
  border-color: #8ada8c;
  background-color: #d0f0d1;
}
.smoke-base .dialog.warning .dialog-inner {
  color: #886730;
  border-color: #ffd691;
  background-color: #ffefd3;
}
.smoke-base .dialog.error .dialog-inner {
  color: #813331;
  border-color: #f69593;
  background-color: #fcd5d4;
}
.smoke-base .dialog.info .dialog-inner {
  color: #155e7f;
  border-color: #70caf3;
  background-color: #c6eafa;
}
.smoke-base .dialog li {
  margin: 0;
  list-style: none;
}
.smoke-base .dialog li + li {
  margin-top: 0.5em;
}
.smoke-base .dialog-inner {
  overflow: auto;
  margin-top: 15%;
  max-width: 900px;
  max-height: 70%;
  font-size: 1.25em;
  padding: 1em 2em;
  border: 1px solid #888888;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}
.smoke-base .dialog-buttons {
  margin-top: 1em;
}
.smoke-base .dialog-buttons button {
  font-size: 12px;
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.smoke-base .dialog-buttons button:hover,
.smoke-base .dialog-buttons button:active,
.smoke-base .dialog-buttons button.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.smoke-base .dialog-buttons button.cancel {
  margin-right: .5em;
  color: #FFF;
  border-color: #e62321;
  background-color: #f25f5c;
}
.smoke-base .dialog-buttons button.cancel:hover,
.smoke-base .dialog-buttons button.cancel:active,
.smoke-base .dialog-buttons button.cancel.active {
  color: #FFF;
  border-color: #be1816;
  background-color: #ee312d;
}
.ui-dialog {
  position: absolute;
  z-index: 100;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: #fca718;
  background-color: #fff;
  max-width: 90%;
  color: inherit;
  box-shadow: 4px 4px 4px #222222;
}
.ui-effects-wrapper .ui-dialog {
  max-width: none;
}
.ui-dialog.fixed {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
}
.ui-dialog .ui-dialog-titlebar {
  font-size: 1.25em;
  background: #fcb131;
  color: #FFF;
  padding: 10px 16px;
  position: relative;
  line-height: 1.5;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-dialog .ui-dialog-title {
  display: block;
  margin-right: 10px;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  margin: auto;
  padding: 10px;
  background: transparent;
  color: #FFF;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  color: #f25f5c;
}
.ui-dialog .ui-dialog-titlebar-close::before {
  font-size: 16px;
}
.ui-dialog .ui-dialog-titlebar-close::before {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e099";
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 10px 16px;
  overflow: auto;
}
.ui-dialog .ui-dialog-content.visible {
  overflow: visible;
}
.ui-dialog .ui-dialog-buttonpane {
  overflow: hidden;
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  padding: 8px 16px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-dialog .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-dialog .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-dialog .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-dialog .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-dialog .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
}
.ui-dialog .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-dialog .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-dialog .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-dialog.success .ui-dialog-titlebar,
.ui-dialog.warning .ui-dialog-titlebar,
.ui-dialog.error .ui-dialog-titlebar,
.ui-dialog.info .ui-dialog-titlebar {
  color: #fff;
}
.ui-dialog.success {
  border-color: #4fc752;
}
.ui-dialog.success .ui-dialog-titlebar {
  background: #4fc752;
}
.ui-dialog.warning {
  border-color: #ffc159;
}
.ui-dialog.warning .ui-dialog-titlebar {
  background: #ffc159;
}
.ui-dialog.error {
  border-color: #f25f5c;
}
.ui-dialog.error .ui-dialog-titlebar {
  background: #f25f5c;
}
.ui-dialog.error .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
  color: #ec1915;
}
.ui-dialog.info {
  border-color: #28b0ed;
}
.ui-dialog.info .ui-dialog-titlebar {
  background: #28b0ed;
}
.tooltip {
  cursor: help;
}
a.tooltip {
  cursor: pointer;
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .dataTables_filter {
  padding: 5px;
  text-align: right;
  font-size: 0.85em;
}
.dataTables_wrapper .dataTables_filter label input {
  margin-left: 5px;
  width: 250px;
}
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  cursor: pointer;
  position: relative;
  padding-right: 16px;
  border-left: 1px solid #dddddd;
}
.dataTables_wrapper .sorting::after,
.dataTables_wrapper .sorting_asc::after,
.dataTables_wrapper .sorting_desc::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0b6";
  font-size: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.dataTables_wrapper .sorting_asc::after {
  content: "\e0b5";
}
.dataTables_wrapper .sorting_desc::after {
  content: "\e0b2";
}
.dataTables_wrapper .dataTables_empty {
  text-align: center;
}
.dataTables_paginate {
  margin-top: 1em;
  float: right;
  font-size: 12px;
}
.dataTables_paginate .paginate_button {
  background: #eeeeee;
  margin: 0 .25em;
  padding: .25em .75em;
  min-width: 2em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #222222;
}
.dataTables_paginate .paginate_button:hover {
  background: #e7e7e7;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.current {
  cursor: default;
  color: #e2e2e2;
  background: #f6f6f6;
}
.dataTables_paginate .paginate_button.current {
  font-weight: bold;
  background: #ffdb9e;
  color: #fff;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.previous::before,
.dataTables_paginate .paginate_button.next::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.previous::after,
.dataTables_paginate .paginate_button.next::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.last {
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after {
  font-size: 15px;
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.previous::before {
  content: "\e0b1";
}
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.next::after {
  content: "\e0af";
}
.responsive-ratio {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: block;
  height: auto !important;
}
.responsive-ratio::before {
  display: block;
  content: " ";
}
._16x9.responsive-ratio::before {
  padding-bottom: 56.25%;
}
._9x16.responsive-ratio::before {
  padding-bottom: 177.77777778%;
}
._4x3.responsive-ratio::before {
  padding-bottom: 75%;
}
._3x4.responsive-ratio::before {
  padding-bottom: 133.33333333%;
}
._1x1.responsive-ratio::before {
  padding-bottom: 100%;
}
.responsive-ratio iframe,
.responsive-ratio object,
.responsive-ratio embed,
.responsive-ratio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-ratio > img,
.responsive-ratio ._lbox img,
.responsive-ratio .gall img {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-height: 100% !important;
  min-width: 100% !important;
  width: auto;
  height: auto;
}
._9x16.responsive-ratio > img,
._3x4.responsive-ratio > img,
._1x1.responsive-ratio > img {
  max-width: none;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.responsive-ratio.bottom > img,
.responsive-ratio.bottom ._lbox img,
.responsive-ratio.bottom .gall img {
  min-height: 0 !important;
  top: auto;
}
.responsive-ratio.top > img,
.responsive-ratio.top ._lbox img,
.responsive-ratio.top .gall img {
  min-height: 0 !important;
  bottom: auto;
}
