body {
  overflow-x: hidden;
}
header {
  color: #555555;
  background: transparent;
}
header .logo {
  margin: 45px 0;
  text-decoration: none;
}
header .logo a {
  display: inline-block;
}
.slider {
  height: 600px;
  margin-bottom: 33px;
  position: relative;
}
.slider .slide > img {
  display: none;
}
.slider.sl-video {
  height: auto;
  overflow: visible!important;
}
.slider.sl-video #custom-pager {
  position: absolute;
  bottom: -34px;
  z-index: 100;
}
.slider.sl-video #custom-pager a {
  text-decoration: none;
  border: 1px solid #999;
  padding: 7px 10px;
  margin: 5px;
  color: #444;
}
.slider.sl-video #custom-pager a.cycle-pager-active {
  background: #ddd;
}
.slider.sl-video .tpopup {
  z-index: 100;
}
.full-bg-h1 {
  padding: 35px 0;
  border-top: 1px solid #eee;
}
.full-bg-h1 h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.inner-banner {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}
.error404 {
  font-size: 7em;
  font-size: 7vw;
}
aside .aside-box {
  margin-bottom: 30px;
}
footer {
  padding-top: 40px;
  background: #252525;
  color: #777;
  font-size: 0.85em;
}
footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
footer::before,
footer .footer-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #252525;
}
footer::after,
footer .footer-bottom::after {
  content: "";
  display: table;
  clear: both;
}
footer .footer-bottom {
  padding: 20px 0 15px;
}
footer .footer-bottom::before {
  background: #111111;
}
footer ul.featureditem {
  margin-bottom: 15px;
}
footer ul.featureditem.footer-links {
  margin-bottom: 0;
}
.block-wrap {
  font-size: 0;
  margin-top: 20px;
}
.block-wrap >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.block-wrap .block-img {
  margin-left: 3%;
  margin-right: 0;
  width: 31.33333333%;
  vertical-align: top;
}
.block-wrap .block-img:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .block-wrap .block-img {
    width: 48.5%;
  }
  .block-wrap .block-img:nth-of-type(n) {
    margin-left: 3%;
  }
  .block-wrap .block-img:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .block-wrap .block-img {
    width: 100%;
  }
  .block-wrap .block-img:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.block-wrap .block-img img {
  margin-bottom: 10px;
}
.video {
  margin-right: 20px!important;
  margin-bottom: 14px!important;
}
.video h4.title {
  display: none;
}
.video .description {
  display: none;
}
.video.grid_4.alpha,
.video .grid_4.omega {
  width: 31.333%;
}
#onedesign-tabs {
  margin-top: 40px;
}
#onedesign-tabs .ui-tabs-nav {
  background: none;
  padding: 0px 0 30px;
  float: left;
  margin-top: 10px;
}
#onedesign-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ff9900;
  color: #fff;
}
.main-tab {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.enquiry {
  float: right;
  font-size: 16px;
}
.meet-team {
  font-size: 0;
}
.meet-team >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.meet-team li {
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  list-style: none;
  vertical-align: top;
  margin-bottom: 15px;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .meet-team li {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .meet-team li {
    width: 98%;
  }
}
.meet-team li .name {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 6px;
  font-size: 1.2em;
}
.meet-team li .descr {
  font-weight: bold;
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 8px;
}
.meet-team li .contact {
  font-style: italic;
  font-size: 0.9em;
}
.contact-info {
  line-height: 2em;
}
.video-content .title {
  display: none;
}
.link-block {
  background: rgba(240, 241, 241, 0.8);
  padding: 1em;
  border: solid 1px #fff;
  margin: 0 1em 1.5em 1em;
  box-shadow: 5px 5px 10px #cccccc;
  cursor: pointer;
}
.ui-tabs-vertical .ui-tabs-nav {
  border: 1px solid #eee;
}
.ui-tabs-vertical .ui-tabs-nav li {
  background: #fff;
  border-top: 1px solid #eee;
  position: relative;
}
.ui-tabs-vertical .ui-tabs-nav li a.tab-link {
  padding: 3em 2em;
  text-transform: uppercase;
  font-weight: bold;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a.tab-link {
  background: #fcb131;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a.tab-link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 20px solid transparent;
  border-left: 13px solid #fcb131;
  position: absolute;
  right: -33px;
  top: 34px;
}
.testimonial {
  box-shadow: 5px 5px 20px #ddd;
  margin-bottom: 30px;
  padding: 30px 20px;
}
.testimonial .small-text {
  font-style: italic;
  font-size: 15px;
  color: #fcb131;
}
.testimonial .photo {
  margin-bottom: 20px;
}
.testimonial .grid_9 > img {
  margin-right: 10px;
}
.default-page {
  display: none;
}
.default-page.member-logged-in {
  display: block;
}
.form-login.member-logged-in {
  display: none;
}
.countries {
  font-size: 0;
}
.countries >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.countries > div {
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
  vertical-align: top;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .countries > div {
    width: 98%;
  }
}
.countries > div ul {
  padding-left: 0;
}
.countries > div ul li {
  list-style: none;
  line-height: 1.2em;
  padding: 10px 0px 6px 10px;
}
.countries > div ul li:hover {
  background: #fcb131;
}
.countries > div ul li:hover a {
  text-decoration: none;
}
.top-menu {
  float: right;
  margin: 30px 20px 7px 0;
  font-size: 13px;
}
.top-menu .toaster-cart {
  float: left;
  margin-right: 10px;
}
.cartblock-items-row,
.cartblock-totaltax-row,
.cartblock-totalprice-row {
  display: none;
}
.cartblock-gotocart-row a {
  font-size: 0;
  display: block;
}
.cartblock-gotocart-row a:hover {
  text-decoration: none;
}
.cartblock-gotocart-row a::before {
  margin-top: -3px;
  font-family: flexkit-icons;
  display: block;
  content: "\e02b";
  color: #666;
  font-size: 17px;
  padding-right: 16px;
  border-right: 1px solid #ddd;
}
.login,
.logout,
.my-account {
  text-decoration: none;
  cursor: pointer;
}
.login:hover,
.logout:hover,
.my-account:hover {
  color: #fcb131;
  text-decoration: none;
}
.login {
  margin-left: 5px;
}
.my-account {
  border-right: 1px solid #ddd;
  padding: 4px 15px 4px 0;
  margin-right: 10px;
  margin-left: 5px;
}
.cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #333;
}
#go-top {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #fcb131;
  background-color: #fcb131;
}
.webPage-go-top {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #fcb131;
  background-color: #fcb131;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #f97b09;
  background-color: #fcb131;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #cb6205;
  background-color: #f69d04;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 480px), only screen and (min-width: 800px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  float: right;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: .45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.3em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  font-family: 'Open Sans', Arial, sans-serif;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  color: #2f2f2f;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #fcb131;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #2f2f2f;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 .5em;
  height: 2.3em;
  line-height: 1.3em;
}
textarea {
  padding: .5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -32px;
}
input[placeholder] {
  color: #666;
}
input::-moz-placeholder {
  color: #666;
}
input::-webkit-input-placeholder {
  color: #666;
}
input:-ms-input-placeholder {
  color: #666;
}
textarea::-webkit-input-placeholder {
  color: #666;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.75rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: .5em;
  z-index: 1;
  line-height: 2.3em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #fcb131;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  background: transparent;
  transition: all 0.3s;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.5;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(252, 177, 49, 0.8);
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  background-size: cover;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #f69d04;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #fcb131;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #fcb131;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #f69d04;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .main_menu a {
    font-size: 12px;
  }
  .slider {
    height: 400px;
  }
  .full-carousel .featureditem .page-teaser-image {
    margin: 0;
    padding: 20px;
  }
  .full-carousel .featureditem .page-title {
    position: relative;
    color: #000;
    display: block;
  }
  .full-carousel .featureditem span {
    display: none;
  }
  .cycle-slideshow .slide {
    background-size: cover;
  }
}
@media only screen and (max-width: 800px) {
  .video {
    margin-right: 1% !important;
  }
  .news-item .news-item-image {
    height: 200px;
  }
  .top-menu {
    margin: 0;
    line-height: normal;
    padding-top: 20px;
    position: absolute;
    right: 20px;
  }
  .enquiry {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .request-quote {
    width: 100%;
    margin-bottom: 30px;
  }
  .captcha,
  .captcha img {
    width: 100%;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  li.ui-tabs-active a.tab-link::after {
    display: none!important;
  }
  .ui-tabs-nav li a.tab-link {
    padding: 1em 2em!important;
  }
  .video.m-grid_1.alpha {
    width: 98%;
  }
  .enquiry {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-bottom > div {
    text-align: center!important;
  }
  .forgot-password,
  .retrieveFormBlock > form + a {
    margin-top: 15px;
  }
  #onedesign-tabs .ui-tabs-nav {
    padding: 0;
  }
  #onedesign-tabs .ui-tabs-nav li {
    width: 100%;
    border-top: 1px solid #ddd;
    text-align: left;
  }
  #user-grid-part ul.user-stats li {
    width: 100%;
    text-align: left !important;
    border-bottom: 1px solid #fff!important;
  }
  .ui-tabs-panel {
    padding: 6px 0;
  }
}
.tablet.landscape .sub-menu-btn {
  right: -21px;
  top: 5px;
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: #fcb131;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 .5em;
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
