// Product Style
.product {

    .edit-product-btn {
        position         : absolute;
        left             : 0;
        top              : 0;
        background-color : @primary-bg;
        color            : @primary-color;
        padding          : 5px;
        z-index          : 100;
    }
    .product-image {
        display    : block;
        box-shadow : 0px 1px 16px #BBBBBB;
        text-align : center;
        position   : relative;
        img {
            width      : auto;
            max-height : 500px;
        }
        &::before {
            font-family : flexkit-icons;
            display     : block;
            content     : "\e069";
            color       : #666666;
            font-size   : 27px;
            position    : absolute;
            top         : 8px;
            right       : 13px;
            display     : none;
        }
        &:hover {
            &::before {
                display : block;
            }
        }
    }
    .small-descr {
        margin-bottom : 20px;
    }
    .product-name {
    }
    .product-description-short {
        ul br {
            display : none;
        }
    }
    .product-price {
        color       : @brand-primary;
        font-weight : bold;
        font-size   : 28px;
        &.old {
            color           : red;
            font-weight     : 400;
            font-size       : 22px;
            text-decoration : line-through;
            display         : block;
        }
    }

    .product-info {
        .title {
            font-weight : bold;
        }
    }

    .product-description-short {
        border-bottom : 1px solid @gray-light;
        border-top    : 1px solid @gray-light;
        padding       : 1em 0;
    }

    .product-description-full {
    }

    .product-options-listing {
        overflow : hidden;

        .product-option {
            overflow      : hidden;
            margin-bottom : 1em;

            & > label {
                font-weight : bold;
                width       : auto;
                display     : inline-block;
                min-width   : 165px;
                &::after {
                    content: ":";
                }
            }

            & > div label {
                cursor       : pointer;
                float        : left;
                font-size    : 12px;
                margin-right : 1%;
                width        : 27%;
            }

            select {
                padding   : 2px;
                width     : auto;
                min-width : 180px;
            }
        }
    }

    .tcart-add {
        .button();
        .user-select();
        .box-shadow(none; @input-shadow-focus);
        display : block;

    }
}

.request-quote {
    font-weight    : bold;
    margin-top     : 20px;
    padding        : 7px 30px;
    font-size      : 16px;
    float          : right;
    text-transform : uppercase;
}

.quote-form {
    margin-top    : 50px;
    margin-bottom : 40px;
    display       : none;
}