.show-more{
    display        : block;
    font-size      : 20px;
    padding        : 10px 0;
    text-align     : center;
    text-transform : uppercase;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    color: #777;
}

// Products List
//==================================================
.product-list {
    >span {
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    .inline-block-wrap();
    //.flexbox(row; wrap; stretch);
    margin-top: 30px;
}
.product-item {
    .grid-elements(4; @grid-margin-width;false);
    .clearfix-mixin();
     vertical-align: top;
    margin-bottom: 30px;

    &.grid{ }

    &.list{ }

    // General styles
    .product-image {
        //float        : left;
        margin-right: 2%;
        width: 100%;
        overflow: hidden;
        box-shadow: 3px 3px 6px #bbb;
        height: 200px;
        text-align: center;
        display: block;
        img {
            width: auto;
            height: 100%;
        }
    }

    .product-title{
        display: block;
        margin      : 0 0 0.25em;
        font-size   : 1.2em;
        font-family : @font-family-headings;
        text-decoration: none;
        color: #000;
        margin-top: 10px;
    }

    .product-description{
        font-size: 14px;
    }

    .product-price{
        font-weight: bold;
        font-size: @font-size-large;
        color: @brand-primary;
    }

    .tcart-add{
        .button();
        .user-select();
        .box-shadow(none; @input-shadow-focus);
    }
}

// Products List in SideBar
//==================================================
.sidebar{

    .product-item{

        .product-image{
            img{ }
        }

        .product-title{ }

        .product-description{ }

        .product-price{ }

        .tcart-add{ }
    }
}

// Related Products
//==================================================
.related-products{
    li{
        .grid-elements(4; @grid-margin-width;false);
        margin: 0 10px 30px;
        .product-title{
          margin-top:10px;
        }

        .product-image{
            height:180px;
            img{
                max-height: 180px;
            }
        }

        .product-description{
        display: none;
        }


        .product-price{
          font-size: 17px;
        }

        .tcart-add{ }

    }
}
