<footer class="container mt30px" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="footer-box grid_4 t-grid_3">
        <h3>{$header:footer1:static}</h3>
        {$content:fa-footer:static}
    </div>
    <div class="footer-box grid_4 t-grid_3">
        <h3>{$header:footer2:static}</h3>
        {$content:fa-footer1:static}
    </div>
    <div class="footer-box grid_4 t-grid_3">
        <h3>{$header:footer3:static}</h3>
        {$content:fa-footer3:static}
    </div>
    <p class="clear"></p>
    <div class="grid_8 m-grid_2 t-grid_4">
          <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <span itemprop="telephone">{$plugin:widcard:BizTelephone:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
    </div>
    <div id="member-login-block" class="grid_4 text-right m-grid_2 t-grid_2">
         <button class="dialog-btn btn" data-dialog-element="#dialog2" data-dialog-effect="fade">Distributor login</button>
        <div id="dialog2" title="">{$store:clientlogin}</div>
    </div>
    
    <div class="grid_12 alpha omega footer-bottom">
        <div class="grid_6 text-left">{$content:footer-info:static}</div>
        <div class="grid_6 text-right">{$template:_social links}</div>
    </div>
    <div class="cookie-bar" id="cookiebar">
    <div class="container">
        <div class="grid_10 mt5px">{$header:cookie-content:static}</div>
        <div class="grid_2"><i class="btn action-close-cookie-bar">I Understand</i></div>
    </div>
    </div>

    <!-- Microformats -->
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}" />
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />

    <meta itemprop="priceRange" content="$$" />
    <input type="hidden" id="user-role-id-current" value="{$user:roleid:readonly}" />
</footer>