<header class="container">
    <div class="logo grid_3 alpha" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="Custom and OneDesign sails manufacturers"  itemprop="logo">
            
        </a>
    </div>
     <nav id="main-menu" class="grid_9 d-visible" role="navigation">
            <div class="top-menu text-right">{$store:cartblock}
             <a href="{$website:url}user-landing-page.html" class="my-account">My account</a>
             {$member:logout}
             <span class="login dialog-btn" data-dialog-element="#dialog2" data-dialog-effect="fade">Login</span>
             
           </div>
            <div class="grid_12">{$menu:main:_main menu}</div>
        </nav>
</header>
<div class="full-bg-h1">
    <h1 class="container">{$page:h1}</h1>
</div>