<div class="grid_12 link-block alpha omega"  onclick="location.href = 'http://hydesailscouk.organicseocms.com/clipper-race-premium.html';">
        <div class="grid_4 alpha">{$imageonly:left-img:400}</div>
        <div class="grid_8">
            <h3>{$header:link-block1}</h3>
            {$content:link-block1}
            <button class="btn">More info</button>
        </div>
</div>