<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
    <div class="top-menu text-right">{$store:cartblock}
             <a href="{$website:url}user-landing-page.html" class="my-account">My account</a>
             {$member:logout}
             <span class="login dialog-btn" data-dialog-element="#dialog2" data-dialog-effect="fade">Login</span>
    </div>
</div>

<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>