<div class="news-item clearfix">
    <a class="news-item-image text-center" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}"/>
    </a>
     <time class="news-item-date small block mb10px"  datetime="{$news:publishat:Y-m-d}">{$news:publishat: M d, Y}</time>
    <a class="news-item-title " href="{$news:url}">{$news:title}</a>
    <p class="news-item-description mb10px">{$news:teaser}</p>
</div>