<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
<script src="js/system/flexkit.min.js"></script>
<!-- smtp -->
{$plugin:smtpverification:verify}

<script>
    $(function(){
        var baseUrl = '{$website:url}onedesign-sails-and-accessories-for-sale.html';
        var $menuNav = $('[href="'+baseUrl+'"]')            
            .closest('.category')
            .find('.page')
            .on('click', function(e){
                var indx = $(this).index() + 1;
                e.preventDefault();
                document.location.href = baseUrl + '#' + indx;
            }); 
            var $footernav = $('.footer-links')
            .find('li')
            .on('click', function(e){
                var indx = $(this).index() + 1;
                e.preventDefault();
                document.location.href = baseUrl + '#' + indx;
            }); 
            
            var cookiebar = $.cookie('cookiebar')
            if(cookiebar =='none'){ 
            $('#cookiebar').remove();
             } 
            $('.action-close-cookie-bar').click(function() {
            $('#cookiebar').slideUp(1000);
            $.cookie('cookiebar', 'none', { expires: 7});
            }); 
    });
    $("a.logout").next(".login").hide();
    $(".login").prev(".my-account").hide();
    if ($('#user-role-id-current').val().trim() == 'member' || $('#user-role-id-current').val().trim() == 'customer') {
              $('#member-login-block').hide();   
            }
    
</script>