<!DOCTYPE html>
<html>
<head>
    <!-- Include head template -->
    {$template:_head}
</head>
<body>
{$template:_header}
<!-- Container -->
<div id="page" class="container">
    <div class="slider sl-video grid_12 alpha omega cycle-slideshow"
         data-cycle-slides=".slide"
         data-cycle-fx="scrollHorz"
         data-cycle-max-z="10"
         data-cycle-pager="#custom-pager"
         data-cycle-pager-template="<a href=#> {{slideNum}} </a>"
         data-cycle-timeout="0"

            >
        {repeat:home-slider:key:1}
        <div class="slide">
            <div class="video grid_4 t-grid_3 m-grid_1 alpha">{$videolink:video1_key}</div>
            <div class="video grid_4 t-grid_3 m-grid_1 alpha">{$videolink:video2_key}</div>
            <div class="video grid_4 t-grid_3 m-grid_1 alpha">{$videolink:video3_key}</div>
            <div class="video grid_4 t-grid_3 m-grid_1 alpha">{$videolink:video4_key}</div>
            <div class="video grid_4 t-grid_3 m-grid_1 alpha">{$videolink:video5_key}</div>
            <div class="video grid_4 t-grid_3 m-grid_1 alpha">{$videolink:video6_key}</div>
        </div> 
        {/repeat}
        <div id="custom-pager" class="text-center grid_12"></div>

    </div>


    <!--<div class="grid_12 alpha omega mt30px">-->
        <!--<h2 class="text-center">{$ header:news:static}</h2>-->
        <!--{$ content:news:static}-->
    <!--</div>-->

</div>
{$template:_footer}
<!-- Include mobile elements template -->
{$template:_mobile elements}
<!-- Include scripts template -->
{$template:_scripts}
<script type="text/javascript" src="js/plugin/jquery.cycle2.min.js"></script>
</body>
</html>