@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display : none !important;
    }
}
@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display : none !important;
    }
}
@media only screen and (max-width : @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display : none !important;
    }
}
//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {
    .main_menu a {
        font-size: 12px;
    }
    .slider {
        height: 400px;
    }
    .full-carousel {
        .featureditem {
            li{

            }
            .page-teaser-image {
                margin: 0;
                padding: 20px;
                img {
                }
            }
            .page-title {
                position: relative;
                color: #000;
                display: block;
            }

            span{ display: none}
        }
    }
    .cycle-slideshow .slide {
        background-size: cover;
    }

}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {
    .video {
        margin-right: 1% !important;
    }
    .news-item  {
        .news-item-image {
            height: 200px;
        }
    }
    .top-menu {
        margin: 0;
        line-height: normal;
        padding-top: 20px;
        position: absolute;
        right: 20px;
    }
    .enquiry {
        font-size: 18px;
    }

}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width : @responsive-size-tablet) and (orientation : landscape) {
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {
    .request-quote {
        width: 100%;
        margin-bottom: 30px;
    }

    .captcha {
        &, img {
            width : 100%;
        }
    }

    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"]{
        float: none !important;
        display: block;
        margin: 0 auto 1em;
    }
    
    form [type="submit"], form [type="button"] {
        width        : 100%;
        margin-right : 0;
        margin-left  : 0;
    }
    li.ui-tabs-active a.tab-link {
        &::after {
           display:none!important;
        }
    }
    .ui-tabs-nav li a.tab-link {
        padding: 1em 2em!important;
    }
    .video.m-grid_1.alpha {
        width: 98%;
    }
    .enquiry {
        font-size: 1.5em;
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-bottom {
        > div{
            text-align: center!important;
        }
    }
    .forgot-password, .retrieveFormBlock > form + a {
        margin-top: 15px;
    }
    #onedesign-tabs  .ui-tabs-nav {
        padding: 0;
        li {
           width: 100%;
           border-top: 1px solid #ddd;
            text-align: left;
        }
    }

    #user-grid-part ul.user-stats {
        li {
            width: 100%;
            text-align: left !important;
            border-bottom: 1px solid #fff!important;
        }
    }
    .ui-tabs-panel {
        padding: 6px 0;
    }

}

.tablet.landscape {
    .sub-menu-btn {
        right: -21px;
        top: 5px;
    }
}
//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";