.news-item when (@widget-news-list){
    .grid-elements(4;2;false);
    display: inline-block;
    vertical-align: top!important;
    .news-item-image{
        height: 215px;
        overflow: hidden;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        img{
            height: 100%;
            max-width: inherit;
            min-height: 100%;
            width: auto;
        }
    }

    .news-item-title {
        text-decoration: none;
        color: #000;
        line-height: 1.5em;
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size:16px;
        text-transform: uppercase;
    }

    .newslog-admin-actions{
        text-align : right;
        a{ }
    }

    .news-item-date{
        color : lighten(@text-color, 15%);
        &::before{
            top       : 2px;
            font-size : 16px;
            color     : @primary-bg;
        }
    }

    .news-item-description{
        font-size: 16px;
    }

    .news-item-tags{

        a{
            .link-color(@gray);

            & + a{
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter{
        &::before{
            font-family: @font-family-icons;
            content : "\e023";
        }
    }
}
.news-wrap {
    .inline-block-wrap();
}
aside {
    .news-item {
        width: 100%;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        .news-item-image{
            height: auto;
            img{display: none }
        }
        .news-item-title{
            margin-bottom: 8px;
        }
        .news-item-description{
            font-size: 0.8em;
            height: 42px;
            overflow: hidden;
        }

    }
}
.news-grid {
    position : relative;
    width    : 50% - 2*@grid-margin-width;
    margin   : 0 @grid-margin-width 20px !important;
    border   : 1px solid @gray-lighter;
    .inline-block(top);

    @media only screen and (max-width : @responsive-size-mobile) {

        width : 100% - @grid-margin-width;
    }

    @media only print {
        & {
            width : 100% - @grid-margin-width;
        }
    }

    .page-teaser-image {
        margin : 0;
        float  : left;

        &.small {
            margin : 6% 5px;
        }

        &.big, &.medium {
            display : none;
        }
    }

    .news-info {
        padding : 6% 5% 4%;
    }

    .page-title {
        color       : @heading-color;
        font-weight : 700;
        line-height : 1.2;
        margin      : 0;
        text-decoration: none;
        margin-bottom: 5px;
    }

    .news-item-description {
        display : none;
        color   : @gray;
    }

    .news-item-date {
        color      : @gray;
        position   : absolute;
        left       : 0;
        top        : 0;
        margin     : 0;
        font-size  : 11px;
        background : @gray-lighter;
        padding    : 1px 5px;

        i {
            display : none;
        }
    }

    &:first-child, &:nth-child(2), &:nth-child(3) {

        .page-teaser-image {
            float : none;

            &.small {
                display : none;
            }
        }

        .page-title {
            font-size     : @font-size-larger;
            margin-bottom : 15px;
        }

        .news-item-description {
            display : block;
        }

        .news-item-date {
            font-size  : @font-size-small;
            margin-top : 1.5em;
            padding    : 0;
            background : none;
            position   : static;

            i {
                .inline-block();
            }
        }

    }

    &:first-child {
        width : 100% - @grid-margin-width;

        .page-teaser-image {
            img {
                width: 100%;
            }
            &.big {
                display : block;
            }
        }
    }

    &:nth-child(2), &:nth-child(3) {

        .page-teaser-image {
            //&.medium{
            &.big {
                display : block;
            }
        }
    }
}