//	PAGE Style
//==================================================
body {
	// custom scroll-bar
	//.scroll-bar();
  overflow-x: hidden;
}
main {
}
#page {
}
//	HEADER Style
//==================================================
header {	
	color      : @header-color;
    background : @header-bg;

	// -- LOGO Style
	.logo {
	  margin: 45px 0;
		text-decoration : none;

		a {
			display : inline-block;
		}

		img {
		}
	}
}
// -- NAV Style
nav {
}
.slider {
  height: 600px;
  margin-bottom: 33px;
  position: relative;
  .slide {
	>img {
	  display: none;
	}
  }
}
.slider.sl-video {
  height: auto;
  overflow: visible!important;
  #custom-pager {
	position: absolute;
	bottom: -34px;
	z-index: 100;
	a {
	  text-decoration: none;
	  border: 1px solid #999;
	  padding: 7px 10px;
	  margin: 5px;
      color:#444;
	  &.cycle-pager-active {
		background: #ddd;
	  }
	}

  }
  .tpopup {
	z-index: 100;
  }
}
.full-carousel {

}
.full-bg-h1 {
  padding: 35px 0;
  border-top: 1px solid #eee;
  h1 {
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 0;

  }
}
.inner-banner {
	width: 100%;
	display: block;
	overflow: hidden;
    margin-bottom: 30px;
}
.photo-block {


	//border: 2px solid #ddd;
	//text-align: center;
}
//	CONTENT Style
//==================================================
article {
}
section {
}
// 404 page
//==================================================
.error404 {
	font-size: 7em;
	font-size: 7vw;
}
//	SIDEBAR Style
//==================================================
aside {
	//padding: 0 20px;
	.aside-box {
		margin-bottom : 30px;
	}

}
//	FOOTER Style
//==================================================
footer {
	padding-top    : 40px;
	background : @footer-bg;
	color      : #777;
	font-size  : @font-size-small;
  h3 {color: #fff;
  margin-bottom: 20px}
  &::before, .footer-bottom::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background : @footer-bg;
  }
  &::after,.footer-bottom::after  {
	content: "";
	display: table;
	clear: both;
  }
  .footer-bottom {
	padding: 20px 0 15px;
	&::before {
	  background : #111111;
	}
  }
	ul.featureditem {
		margin-bottom: 15px;
	}
  ul.featureditem.footer-links {
	margin-bottom: 0;
  }
}
.block-wrap {
  .inline-block-wrap();
  margin-top: 20px;
  .block-img {
	.grid-elements(3,3,true);
	vertical-align: top;
	img {
	  margin-bottom: 10px;
	}
  }
}


  .video {
	  margin-right:20px!important;
	  margin-bottom: 14px!important;
	h4.title {
	  display: none;
	}
	.description {
	  display: none;
	}
	  &.grid_4.alpha, .grid_4.omega {
		  width: 31.333%;
	  }
  }
#onedesign-tabs {
	margin-top: 40px;
	.ui-tabs-nav {
		background: none;
		padding: 0px 0 30px;
		float: left;
		margin-top: 10px;
		li.ui-tabs-active {
			background: #ff9900;
			color: #fff;
		}
	}
}
.main-tab {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.enquiry {
  float: right;
	font-size: 16px;
}
.meet-team {
  .inline-block-wrap();
  li {
	.grid-elements(2; 2%; false);
	list-style: none;
	vertical-align: top;
	margin-bottom: 15px;
	img {}
	.name {
	  text-transform: uppercase;
	  font-weight: 400;
	  margin-top: 5px;
	  margin-bottom: 6px;
	  font-size: 1.2em;
	}
	.descr {
	  font-weight: bold;
	  font-style: italic;
	  font-size: 0.9em;
	  margin-bottom: 8px;
	}
	.contact {
	  font-style: italic;
	  font-size: 0.9em;
	}
  }
}
.contact-info {
  line-height: 2em;
}
.video-content {
  .title {
	display: none;
  }
}
.link-block {
  background: rgba(240, 241, 241, 0.8);
  padding: 1em;
  border: solid 1px #fff;
  margin: 0 1em 1.5em 1em;
  box-shadow: 5px 5px 10px #cccccc;
  cursor: pointer;
}
.ui-tabs-vertical {
  .ui-tabs-nav {
	border: 1px solid #eee;
	li {
	  background: #fff;
	  border-top: 1px solid #eee;
	  position: relative;
	   a.tab-link {
		    padding: 3em 2em;
	        text-transform: uppercase;
	        font-weight: bold;
	   }
	  &.ui-tabs-active a.tab-link {
        background: @brand-primary;
		&::after {
		  content:"";
		  display: block;
		  width: 20px;
		  height: 20px;
		  border: 20px solid transparent;
		  border-left: 13px solid @brand-primary;
		  position: absolute;
		  right: -33px;
		  top: 34px;
		}
	  }
	}
  }
}
.testimonial {
  box-shadow: 5px 5px 20px #ddd;
  margin-bottom: 30px;
  padding: 30px 20px;
  .small-text {
	font-style: italic;
	font-size: 15px;
	color:@brand-primary;
  }
  .photo{
     margin-bottom: 20px;
  }
  .grid_9>img {
	margin-right: 10px;
  }
}
.default-page {
  display:none;
  &.member-logged-in {
	display: block;
  }
}
.form-login.member-logged-in {
  display:none;
}
.countries {
	.inline-block-wrap();
	>div {
		.grid-elements(4;@grid-margin-width;4;1;false);
		vertical-align: top;
		ul {
			padding-left: 0;
			li {
				list-style: none;
				line-height: 1.2em;
				padding: 10px 0px 6px 10px;
				//margin-bottom: 10px;
				&:hover {
					background: @brand-primary;
					a {
						text-decoration: none;
					}
				}

			}
		}
	}
}
.top-menu {
	float:right;
    margin: 30px 20px 7px 0;
    font-size: 13px;

	.toaster-cart {
	  	float:left;
		margin-right: 10px;
	}
}
.cartblock-items-row, .cartblock-totaltax-row, .cartblock-totalprice-row {
	display:none;
}
.cartblock-gotocart-row a {
  font-size: 0;
  display: block;
  &:hover {
	text-decoration: none;
  }
  &::before {
	margin-top: -3px;
	font-family: flexkit-icons;
	display: block;
	content: "\e02b";
	color: #666;
	font-size: 17px;
	padding-right: 16px;
	border-right: 1px solid #ddd;
  }
}
.login, .logout, .my-account {
  text-decoration: none;
  cursor: pointer;
  &:hover {
	color:@brand-primary;
	text-decoration: none;
  }
}
.login {margin-left: 5px;}
.my-account {
  border-right: 1px solid #ddd;
  padding: 4px 15px 4px 0;
  margin-right: 10px;
  margin-left: 5px;
}
.cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #333;

}
//==================================================
#go-top {
	.button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}
.webPage-go-top{
    .button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}